<span class="all-movies" style="padding: 4px 0;
    padding-left: 25px;">
    <a id="moviedb" class="button right" href="#">themoviedb</a>
</span>
<span class="all-movies" style="padding: 4px 0;
    padding-left: 25px;">
    <a id="moviedb-title" class="button right" href="#">themoviedb sort by title</a>
</span>
<span class="all-movies" style="padding: 4px 0;
    padding-left: 25px;">
    <a id="moviedb-release" class="button right" href="#">themoviedb sort by release date</a>
</span>
<span class="all-movies" style="padding: 4px 0;
    padding-left: 25px;">
    <a id="moviedb-gender" class="button right" href="#">themoviedb sort by gender</a>
</span>

<h1>themoviedb</h1>

<br/></br>

<ul id="movies" class="moviedbs"></ul>

